@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #2471A3;
}

#column-2 {
  background: #AF7AC5;
}

#column-3 {
  background: #C0392B;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #483D8B;
  }

  #column-1 {
    background-color: #9932CC;
  }

  #column-2 {
    background-color: #E9967A;
  }

  #column-3 {
    background-color: #2F4F4F;
  }

  footer {
    background-color: #FFD700;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #F08080;
  }

  #column-1 {
    background-color: #20B2AA;
  }

  #column-2 {
    background-color: #C71585;
  }

  #column-3 {
    background-color: #AFEEEE;
  }

  footer {
    background-color: #00FF7F;
  }
   
}
